<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.xxx.mapper.UserMapper">

    <!-- 根据ID查询数据 -->
    <!--<select id="findUserByID" parameterType="String" resultMap="User">-->
    <!--<select id="findUserByID" parameterType="String" resultType="com.xxx.entity.User">-->
        <!--select * from t_user where id=#{userid}-->
    <!--</select>-->


    <select id="clear">
        DELETE from t_user where id=#{userid}
    </select>


    <!--SELECT IFFULL(MAX(name),0) AS name FROM user WHERE id = #{id}-->

    <!--<select id="insertUser2" parameterType="com.xxx.entity.User" resultType="Integer" >-->
        <!--INSERT INTO t_user(username, address,sex) VALUES(#{arg0},#{arg1},#{arg2})-->
    <!--</select>-->

    <!--<insert id="insertAuthor" parameterType="domain.blog.Author" useGeneratedKeys="true"     keyProperty="id">-->
        <!--insert into Author (username,password,email,bio)-->
        <!--values (#{username},#{password},#{email},#{bio})-->
    <!--</insert>-->
</mapper>